html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.wid-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.wid-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.wid-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.wid-table,.wid-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.wid-table-all{border:1px solid #ccc}
.wid-bordered tr,.wid-table-all tr{border-bottom:1px solid #ddd}.wid-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.wid-table-all tr:nth-child(odd){background-color:#fff}.wid-table-all tr:nth-child(even){background-color:#f1f1f1}
.wid-hoverable tbody tr:hover,.wid-ul.wid-hoverable li:hover{background-color:#ccc}.wid-centered tr th,.wid-centered tr td{text-align:center}
.wid-table td,.wid-table th,.wid-table-all td,.wid-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.wid-table th:first-child,.wid-table td:first-child,.wid-table-all th:first-child,.wid-table-all td:first-child{padding-left:16px}
.wid-btn,.wid-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.wid-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.wid-btn,.wid-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.wid-disabled,.wid-btn:disabled,.wid-button:disabled{cursor:not-allowed;opacity:0.3}.wid-disabled *,:disabled *{pointer-events:none}
.wid-btn.wid-disabled:hover,.wid-btn:disabled:hover{box-shadow:none}
.wid-badge,.wid-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.wid-badge{border-radius:50%}
.wid-ul{list-style-type:none;padding:0;margin:0}.wid-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.wid-ul li:last-child{border-bottom:none}
.wid-tooltip,.wid-display-container{position:relative}.wid-tooltip .wid-text{display:none}.wid-tooltip:hover .wid-text{display:inline-block}
.wid-ripple:active{opacity:0.5}.wid-ripple{transition:opacity 0s}
.wid-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.wid-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.wid-dropdown-click,.wid-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.wid-dropdown-hover:hover .wid-dropdown-content{display:block}
.wid-dropdown-hover:first-child,.wid-dropdown-click:hover{background-color:#ccc;color:#000}
.wid-dropdown-hover:hover > .wid-button:first-child,.wid-dropdown-click:hover > .wid-button:first-child{background-color:#ccc;color:#000}
.wid-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.wid-check,.wid-radio{width:24px;height:24px;position:relative;top:6px}
.wid-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.wid-bar-block .wid-dropdown-hover,.wid-bar-block .wid-dropdown-click{width:100%}
.wid-bar-block .wid-dropdown-hover .wid-dropdown-content,.wid-bar-block .wid-dropdown-click .wid-dropdown-content{min-width:100%}
.wid-bar-block .wid-dropdown-hover .wid-button,.wid-bar-block .wid-dropdown-click .wid-button{width:100%;text-align:left;padding:8px 16px}
.wid-main,#main{transition:margin-left .4s}
.wid-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.wid-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:600px}
.wid-bar{width:100%;overflow:hidden}.wid-center .wid-bar{display:inline-block;width:auto}
.wid-bar .wid-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.wid-bar .wid-dropdown-hover,.wid-bar .wid-dropdown-click{position:static;float:left}
.wid-bar .wid-button{white-space:normal}
.wid-bar-block .wid-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.wid-bar-block.wid-center .wid-bar-item{text-align:center}.wid-block{display:block;width:100%}
.wid-responsive{display:block;overflow-x:auto}
.wid-container:after,.wid-container:before,.wid-panel:after,.wid-panel:before,.wid-row:after,.wid-row:before,.wid-row-padding:after,.wid-row-padding:before,
.wid-cell-row:before,.wid-cell-row:after,.wid-clear:after,.wid-clear:before,.wid-bar:before,.wid-bar:after{content:"";display:table;clear:both}
.wid-col,.wid-half,.wid-third,.wid-twothird,.wid-threequarter,.wid-quarter{float:left;width:100%}
.wid-col.s1{width:8.33333%}.wid-col.s2{width:16.66666%}.wid-col.s3{width:24.99999%}.wid-col.s4{width:33.33333%}
.wid-col.s5{width:41.66666%}.wid-col.s6{width:49.99999%}.wid-col.s7{width:58.33333%}.wid-col.s8{width:66.66666%}
.wid-col.s9{width:74.99999%}.wid-col.s10{width:83.33333%}.wid-col.s11{width:91.66666%}.wid-col.s12{width:99.99999%}
@media (min-width:601px){.wid-col.m1{width:8.33333%}.wid-col.m2{width:16.66666%}.wid-col.m3,.wid-quarter{width:24.99999%}.wid-col.m4,.wid-third{width:33.33333%}
.wid-col.m5{width:41.66666%}.wid-col.m6,.wid-half{width:49.99999%}.wid-col.m7{width:58.33333%}.wid-col.m8,.wid-twothird{width:66.66666%}
.wid-col.m9,.wid-threequarter{width:74.99999%}.wid-col.m10{width:83.33333%}.wid-col.m11{width:91.66666%}.wid-col.m12{width:99.99999%}}
@media (min-width:993px){.wid-col.l1{width:8.33333%}.wid-col.l2{width:16.66666%}.wid-col.l3{width:24.99999%}.wid-col.l4{width:33.33333%}
.wid-col.l5{width:41.66666%}.wid-col.l6{width:49.99999%}.wid-col.l7{width:58.33333%}.wid-col.l8{width:66.66666%}
.wid-col.l9{width:74.99999%}.wid-col.l10{width:83.33333%}.wid-col.l11{width:91.66666%}.wid-col.l12{width:99.99999%}}
.wid-rest{overflow:hidden}.wid-stretch{margin-left:-16px;margin-right:-16px}
.wid-content,.wid-auto{margin-left:auto;margin-right:auto}.wid-content{max-width:980px}.wid-auto{max-width:1140px}
.wid-cell-row{display:table;width:100%}.wid-cell{display:table-cell}
.wid-cell-top{vertical-align:top}.wid-cell-middle{vertical-align:middle}.wid-cell-bottom{vertical-align:bottom}
.wid-hide{display:none!important}.wid-show-block,.wid-show{display:block!important}.wid-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.wid-auto{max-width:95%}}
@media (max-width:600px){.wid-modal-content{margin:0 10px;width:auto!important}.wid-modal{padding-top:30px}
.wid-dropdown-hover.wid-mobile .wid-dropdown-content,.wid-dropdown-click.wid-mobile .wid-dropdown-content{position:relative}	
.wid-hide-small{display:none!important}.wid-mobile{display:block;width:100%!important}.wid-bar-item.wid-mobile,.wid-dropdown-hover.wid-mobile,.wid-dropdown-click.wid-mobile{text-align:center}
.wid-dropdown-hover.wid-mobile,.wid-dropdown-hover.wid-mobile .wid-btn,.wid-dropdown-hover.wid-mobile .wid-button,.wid-dropdown-click.wid-mobile,.wid-dropdown-click.wid-mobile .wid-btn,.wid-dropdown-click.wid-mobile .wid-button{width:100%}}
@media (max-width:768px){.wid-modal-content{width:500px}.wid-modal{padding-top:50px}}
@media (min-width:993px){.wid-modal-content{width:900px}.wid-hide-large{display:none!important}.wid-sidebar.wid-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.wid-hide-medium{display:none!important}}
@media (max-width:992px){.wid-sidebar.wid-collapse{display:none}.wid-main{margin-left:0!important;margin-right:0!important}.wid-auto{max-width:100%}}
.wid-top,.wid-bottom{position:fixed;width:100%;z-index:1}.wid-top{top:0}.wid-bottom{bottom:0}
.wid-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.wid-display-topleft{position:absolute;left:0;top:0}.wid-display-topright{position:absolute;right:0;top:0}
.wid-display-bottomleft{position:absolute;left:0;bottom:0}.wid-display-bottomright{position:absolute;right:0;bottom:0}
.wid-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.wid-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.wid-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.wid-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.wid-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.wid-display-container:hover .wid-display-hover{display:block}.wid-display-container:hover span.wid-display-hover{display:inline-block}.wid-display-hover{display:none}
.wid-display-position{position:absolute}
.wid-circle{border-radius:50%}
.wid-round-small{border-radius:2px}.wid-round,.wid-round-medium{border-radius:4px}.wid-round-large{border-radius:8px}.wid-round-xlarge{border-radius:16px}.wid-round-xxlarge{border-radius:32px}
.wid-row-padding,.wid-row-padding>.wid-half,.wid-row-padding>.wid-third,.wid-row-padding>.wid-twothird,.wid-row-padding>.wid-threequarter,.wid-row-padding>.wid-quarter,.wid-row-padding>.wid-col{padding:0 8px}
.wid-container,.wid-panel{padding:0.01em 16px}.wid-panel{margin-top:16px;margin-bottom:16px}
.wid-code,.wid-codespan{font-family:Consolas,"courier new";font-size:16px}
.wid-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.wid-codespan{color:crimson;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.wid-card,.wid-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.wid-card-4,.wid-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.wid-spin{animation:wid-spin 2s infinite linear}@keyframes wid-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.wid-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.wid-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.wid-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.wid-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.wid-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.wid-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.wid-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.wid-animate-input{transition:width 0.4s ease-in-out}.wid-animate-input:focus{width:100%!important}
.wid-opacity,.wid-hover-opacity:hover{opacity:0.60}.wid-opacity-off,.wid-hover-opacity-off:hover{opacity:1}
.wid-opacity-max{opacity:0.25}.wid-opacity-min{opacity:0.75}
.wid-greyscale-max,.wid-grayscale-max,.wid-hover-greyscale:hover,.wid-hover-grayscale:hover{filter:grayscale(100%)}
.wid-greyscale,.wid-grayscale{filter:grayscale(75%)}.wid-greyscale-min,.wid-grayscale-min{filter:grayscale(50%)}
.wid-sepia{filter:sepia(75%)}.wid-sepia-max,.wid-hover-sepia:hover{filter:sepia(100%)}.wid-sepia-min{filter:sepia(50%)}
.wid-tiny{font-size:10px!important}.wid-small{font-size:12px!important}.wid-medium{font-size:15px!important}.wid-large{font-size:18px!important}
.wid-xlarge{font-size:24px!important}.wid-xxlarge{font-size:36px!important}.wid-xxxlarge{font-size:48px!important}.wid-jumbo{font-size:64px!important}
.wid-left-align{text-align:left!important}.wid-right-align{text-align:right!important}.wid-justify{text-align:justify!important}.wid-center{text-align:center!important}
.wid-border-0{border:0!important}.wid-border{border:1px solid #ccc!important}
.wid-border-top{border-top:1px solid #ccc!important}.wid-border-bottom{border-bottom:1px solid #ccc!important}
.wid-border-left{border-left:1px solid #ccc!important}.wid-border-right{border-right:1px solid #ccc!important}
.wid-topbar{border-top:6px solid #ccc!important}.wid-bottombar{border-bottom:6px solid #ccc!important}
.wid-leftbar{border-left:6px solid #ccc!important}.wid-rightbar{border-right:6px solid #ccc!important}
.wid-section,.wid-code{margin-top:16px!important;margin-bottom:16px!important}
.wid-margin{margin:16px!important}.wid-margin-top{margin-top:16px!important}.wid-margin-bottom{margin-bottom:16px!important}
.wid-margin-left{margin-left:16px!important}.wid-margin-right{margin-right:16px!important}
.wid-padding-small{padding:4px 8px!important}.wid-padding{padding:8px 16px!important}.wid-padding-large{padding:12px 24px!important}
.wid-padding-16{padding-top:16px!important;padding-bottom:16px!important}.wid-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.wid-padding-32{padding-top:32px!important;padding-bottom:32px!important}.wid-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.wid-padding-64{padding-top:64px!important;padding-bottom:64px!important}
.wid-left{float:left!important}.wid-right{float:right!important}
.wid-button:hover{color:#000!important;background-color:#ccc!important}
.wid-transparent,.wid-hover-none:hover{background-color:transparent!important}
.wid-hover-none:hover{box-shadow:none!important}
/* Colors */
.wid-amber,.wid-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.wid-aqua,.wid-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.wid-blue,.wid-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.wid-light-blue,.wid-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.wid-brown,.wid-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.wid-cyan,.wid-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.wid-blue-grey,.wid-hover-blue-grey:hover,.wid-blue-gray,.wid-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.wid-green,.wid-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.wid-light-green,.wid-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.wid-indigo,.wid-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.wid-khaki,.wid-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.wid-lime,.wid-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.wid-orange,.wid-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.wid-deep-orange,.wid-hover-deep-orange:hover{color:#fff!important;background-color:#ff5722!important}
.wid-pink,.wid-hover-pink:hover{color:#fff!important;background-color:#e91e63!important}
.wid-purple,.wid-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.wid-deep-purple,.wid-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.wid-red,.wid-hover-red:hover{color:#fff!important;background-color:#f44336!important}
.wid-sand,.wid-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.wid-teal,.wid-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.wid-yellow,.wid-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.wid-white,.wid-hover-white:hover{color:#000!important;background-color:#fff!important}
.wid-black,.wid-hover-black:hover{color:#fff!important;background-color:#000!important}
.wid-grey,.wid-hover-grey:hover,.wid-gray,.wid-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.wid-light-grey,.wid-hover-light-grey:hover,.wid-light-gray,.wid-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.wid-dark-grey,.wid-hover-dark-grey:hover,.wid-dark-gray,.wid-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.wid-pale-red,.wid-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.wid-pale-green,.wid-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.wid-pale-yellow,.wid-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.wid-pale-blue,.wid-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.wid-text-amber,.wid-hover-text-amber:hover{color:#ffc107!important}
.wid-text-aqua,.wid-hover-text-aqua:hover{color:#00ffff!important}
.wid-text-blue,.wid-hover-text-blue:hover{color:#2196F3!important}
.wid-text-light-blue,.wid-hover-text-light-blue:hover{color:#87CEEB!important}
.wid-text-brown,.wid-hover-text-brown:hover{color:#795548!important}
.wid-text-cyan,.wid-hover-text-cyan:hover{color:#00bcd4!important}
.wid-text-blue-grey,.wid-hover-text-blue-grey:hover,.wid-text-blue-gray,.wid-hover-text-blue-gray:hover{color:#607d8b!important}
.wid-text-green,.wid-hover-text-green:hover{color:#4CAF50!important}
.wid-text-light-green,.wid-hover-text-light-green:hover{color:#8bc34a!important}
.wid-text-indigo,.wid-hover-text-indigo:hover{color:#3f51b5!important}
.wid-text-khaki,.wid-hover-text-khaki:hover{color:#b4aa50!important}
.wid-text-lime,.wid-hover-text-lime:hover{color:#cddc39!important}
.wid-text-orange,.wid-hover-text-orange:hover{color:#ff9800!important}
.wid-text-deep-orange,.wid-hover-text-deep-orange:hover{color:#ff5722!important}
.wid-text-pink,.wid-hover-text-pink:hover{color:#e91e63!important}
.wid-text-purple,.wid-hover-text-purple:hover{color:#9c27b0!important}
.wid-text-deep-purple,.wid-hover-text-deep-purple:hover{color:#673ab7!important}
.wid-text-red,.wid-hover-text-red:hover{color:#f44336!important}
.wid-text-sand,.wid-hover-text-sand:hover{color:#fdf5e6!important}
.wid-text-teal,.wid-hover-text-teal:hover{color:#009688!important}
.wid-text-yellow,.wid-hover-text-yellow:hover{color:#d2be0e!important}
.wid-text-white,.wid-hover-text-white:hover{color:#fff!important}
.wid-text-black,.wid-hover-text-black:hover{color:#000!important}
.wid-text-grey,.wid-hover-text-grey:hover,.wid-text-gray,.wid-hover-text-gray:hover{color:#757575!important}
.wid-text-light-grey,.wid-hover-text-light-grey:hover,.wid-text-light-gray,.wid-hover-text-light-gray:hover{color:#f1f1f1!important}
.wid-text-dark-grey,.wid-hover-text-dark-grey:hover,.wid-text-dark-gray,.wid-hover-text-dark-gray:hover{color:#3a3a3a!important}
.wid-border-amber,.wid-hover-border-amber:hover{border-color:#ffc107!important}
.wid-border-aqua,.wid-hover-border-aqua:hover{border-color:#00ffff!important}
.wid-border-blue,.wid-hover-border-blue:hover{border-color:#2196F3!important}
.wid-border-light-blue,.wid-hover-border-light-blue:hover{border-color:#87CEEB!important}
.wid-border-brown,.wid-hover-border-brown:hover{border-color:#795548!important}
.wid-border-cyan,.wid-hover-border-cyan:hover{border-color:#00bcd4!important}
.wid-border-blue-grey,.wid-hover-border-blue-grey:hover,.wid-border-blue-gray,.wid-hover-border-blue-gray:hover{border-color:#607d8b!important}
.wid-border-green,.wid-hover-border-green:hover{border-color:#4CAF50!important}
.wid-border-light-green,.wid-hover-border-light-green:hover{border-color:#8bc34a!important}
.wid-border-indigo,.wid-hover-border-indigo:hover{border-color:#3f51b5!important}
.wid-border-khaki,.wid-hover-border-khaki:hover{border-color:#f0e68c!important}
.wid-border-lime,.wid-hover-border-lime:hover{border-color:#cddc39!important}
.wid-border-orange,.wid-hover-border-orange:hover{border-color:#ff9800!important}
.wid-border-deep-orange,.wid-hover-border-deep-orange:hover{border-color:#ff5722!important}
.wid-border-pink,.wid-hover-border-pink:hover{border-color:#e91e63!important}
.wid-border-purple,.wid-hover-border-purple:hover{border-color:#9c27b0!important}
.wid-border-deep-purple,.wid-hover-border-deep-purple:hover{border-color:#673ab7!important}
.wid-border-red,.wid-hover-border-red:hover{border-color:#f44336!important}
.wid-border-sand,.wid-hover-border-sand:hover{border-color:#fdf5e6!important}
.wid-border-teal,.wid-hover-border-teal:hover{border-color:#009688!important}
.wid-border-yellow,.wid-hover-border-yellow:hover{border-color:#ffeb3b!important}
.wid-border-white,.wid-hover-border-white:hover{border-color:#fff!important}
.wid-border-black,.wid-hover-border-black:hover{border-color:#000!important}
.wid-border-grey,.wid-hover-border-grey:hover,.wid-border-gray,.wid-hover-border-gray:hover{border-color:#9e9e9e!important}
.wid-border-light-grey,.wid-hover-border-light-grey:hover,.wid-border-light-gray,.wid-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.wid-border-dark-grey,.wid-hover-border-dark-grey:hover,.wid-border-dark-gray,.wid-hover-border-dark-gray:hover{border-color:#616161!important}
.wid-border-pale-red,.wid-hover-border-pale-red:hover{border-color:#ffe7e7!important}.wid-border-pale-green,.wid-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.wid-border-pale-yellow,.wid-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.wid-border-pale-blue,.wid-hover-border-pale-blue:hover{border-color:#e7ffff!important}